@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Rajdhani:wght@500&display=swap');
@font-face {
    font-family: Saphira;
    src: url(./font/Saphira.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Barra navegación y banner */
.navbar{
    background-color: #1E1E24;
}
.navbar a{
    color: #F7EBE8;
    font-weight: bold;
}
.nav-item a{
    color: #F7EBE8;
    font-weight: bold;
}
.logo{
    background-image: url(./img/logo.jpg);
    background-size: cover;
    height: 240px;
    width: 180px;
    border: 4px solid #1E1E24;
    margin-top: 24px;
    margin-left: 20px;
}
.barra{
    background-color: blue;
    background-image: url(./img/banner.jpg);
    border: 2px solid #1E1E24;
    background-size: cover;
    height: 300px;
    width: auto;
}
/* Barra navegación y banner Fin*/

/* Carousel Inicio */
.galeria{
    background-color: #444140;
}
.d-block{
    height: 500px;
    border-radius: 25px;
    border: 2px solid #1E1E24;
    margin: auto;
    margin-top: 30px;
}
.carousel-indicators button{
    height: 20px !important;
    width: 20px !important;
    border-radius: 50%;
}
.carousel-control-prev span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px;
    box-shadow: 5px 5px 5px #000;
    padding: 15px;
    margin-left: 150%;
}
.carousel-control-next span{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: solid 2px;
    box-shadow: 5px 5px 5px #000;
    padding: 15px;
    margin-right: 150%;
}
.galeria img{
    object-position: center;
    object-fit: cover;
} 
/* Carousel Fin */

/* INICIO HOME */
.homeMain{
    background-color: #444140;
    height: auto;
    width: auto;
}
.imagenHome{
    background-color: #F7EBE8;
    background-image: url(./img/zingeria.jpg);
    border-radius: 25px;
    background-size: cover;
    background-position: center;
    border: 2px solid #000;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.homeText{
    background-color: #2b2929;
    border-radius: 25px;
    border: 2px solid #F7EBE8;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #F7EBE8;
    margin: auto;
    padding: 20px;
}
/* FIN HOME */

/* INICIO PRODUCTOS */
.productosMain{
    background-color: #444140;
    width: auto;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #F7EBE8;
}

.prodText{
    margin: auto;
    margin-left: 10px;
}
.productos{
    background-color: #242323;
    border: 2px solid #000;  
    border-radius: 25px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.productos:hover{
    transform: scale(1.06);
    transition: all 0.9s;
    box-shadow: 5px 5px 5px #000;
}
.prologo1{
    background-color: #F7EBE8;
    background-image: url(./img/Canaletas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.prologo2{
    background-color: #F7EBE8;
    background-image: url(./img/Chapas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.prologo3{
    background-color: #F7EBE8;
    background-image: url(./img/cenefas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.prologo4{
    background-color: #F7EBE8;
    background-image: url(./img/babetas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.prologo5{
    background-color: #F7EBE8;
    background-image: url(./img/perfiles.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.prologo6{
    background-color: #F7EBE8;
    background-image: url(./img/extractor.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
/* FIN PRODUCTOS */

/* INICIO SERVICIOS */
.serviciosMain{
    background-color: #444140;
    width: auto;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #F7EBE8;
}
.servText{
    margin: 10px auto auto 5px;
}

.servicio{
    background-color: #242323;
    height: 200px;
    border: 2px solid #1E1E24; 
    margin: 15px auto 10px auto;
    border-radius: 25px;
}
.servicio:hover{
    transform: scale(1.06);
    transition: all 0.9s;
    box-shadow: 5px 5px 5px #000;
}
.servlogo1{
    background-color: #F7EBE8;
    background-image: url(./img/instalacionzing.jpg);
    background-size: cover;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin: auto 0 auto 10px;
}
.servlogo2{
    background-color: #F7EBE8;
    background-image: url(./img/limpiezatecho.jpg);
    background-size: cover;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin: auto 0 auto 10px;
}
.servlogo3{
    background-color: #F7EBE8;
    background-image: url(./img/sellado.jpg);
    background-size: cover;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin: auto 0 auto 10px;
}
.servlogo4{
    background-color: #F7EBE8;
    background-image: url(./img/estructura.jpg);
    background-size: cover;
    border-radius: 25px;
    height: 150px;
    width: 150px;
    margin: auto 0 auto 10px;
}
/* FIN SERVICIOS */

/* INICIO CONTACTO */
.contactoMain{
    background-color: #444140;
    width: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #F7EBE8;
}
.imagenContacto{
    background-color: #F7EBE8;
    background-image: url(./img/contactus.jpg);
    background-size: cover;
    border: 2px solid #1E1E24;
    border-radius: 25px;
    height: 600px;
    margin: 15px auto;
}
.contactoData{
    background-color: #272626;
    border: 2px solid #999494;
    border-radius: 25px;
    padding: 30px;
    padding-left: 50px;
    height: 600px;
    margin: 15px auto;
}
.contextarea{
    padding: 10px;
}
.textarea1{
    height: 300px;
    max-height: 300px;
    width: 100%;
}
/* FIN CONTACTO */

/* INICIO NOSOTROS */
.nosotrosMain{
    background-color: #444140;
    width: auto;
    font-family: Saphira;
    font-size: 18px;
    color: #F7EBE8;
}
.nosotrosTexto{
    background-color: #272626;
    border-radius: 25px;
    height: auto;
    width: 80%;
    margin: 20px auto 40px auto;
    padding: 20px;

}
.nosotrosVideo{
    height: 500px;
    width: auto;
    margin: 20px auto;
}
.nosotrosMap{
    height: 500px;
    width: auto;
    margin: 20px auto;
}
.responsiveframe{
    max-width: 100%;
}
/* FIN NOSOTROS */

/* INICIO FOOTER */

.footer{
    background-color: #141413;
}
.footerbar{
    border: 2px solid #1E1E24;
}
.footer a{
    text-decoration: none;
}
.me-5{
    font-weight: bold;
    font-family: 'Rajdhani', sans-serif;
}
footer .footerCopyright{
    background-color: #333;
}

/* FIN FOOTER */

@media only screen and (max-width: 768px){
    div .d-block{
        height: 300px;
        margin: auto;
        background-size: cover;
    }
    .galeria img{
        object-position: center;
        object-fit: cover;
        margin-top: 30px;
    } 
}
@media only screen and (max-width: 576px){
    div .d-block{
        height: 200px;
        background-size: cover;
    }
    .galeria img{
        object-position: center;
        object-fit: cover;
    } 
}
