@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Bebas+Neue&family=Rajdhani:wght@500&display=swap');
@font-face {
    font-family: Saphira;
    src: url(./font/Saphira.otf);
}

*{
    margin: 0;
    padding: 0;
}


.logo{
    background-image: url(./img/logo.jpg);
    background-size: cover;
    height: 240px;
    width: 180px;
    float: left;
    border: 4px solid #000;
    margin-top: 24px;
    margin-left: 20px;
}
.whatsapp a{
    background-image: url(./img/wpp.png);
    background-size: cover;
    position: fixed;
    height: 50px;
    width: 50px;
    margin-left: 96%;
    margin-top: 1%;
}

.barra{
    background-color: blue;
    background-image: url(./img/banner22.png);
    border: 5px solid #000;
    background-size: cover;
    height: 300px;
    width: auto;
}

.barra ul{
    margin-top: 30px;
    margin-left: 34.5%;
    position: fixed;
}
.barra li{
    height: 50px;
    width: auto;
    display: inline-block;
    list-style: none;
}
 
.barra a{
    text-decoration: none;
    background-color: #333;
    border: 3px solid #000;
    font-weight: bold;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}

/* Color de botones seleccionados */
.color1 a{
  background-color: #6b6969;
}
.color2 a{
  background-color: #6b6969;
}
.color3 a{
  background-color: #6b6969;
}
.color4 a{
  background-color: #6b6969;
}
.color5 a{
  background-color: #6b6969;
}
/* INICIO HOME */
.homeMain{
    background-color: #4b4747;
    height: 800px;
    width: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
}
.imagenHome{
    /* Placeholder de carrusel */
    background-color: #fff;
    background-image: url(./img/zingeria.jpg);
    background-size: cover;
    border: 3px solid #000;
    height: 600px;
    width: 800px;
    margin: 100px 20px 40px 40px;
    float: left;
}
.homeMain p{
    background-color: #2b2929;
    display: block;
    height: 520px;
    width: 650px;
    margin-top: 120px;
    margin-right: 250px;
    padding: 20px;
    border: 2px solid #fff;
    float: right;
}


/* FIN HOME */
/* INICIO PRODUCTOS */

.productosMain{
    background-color: #4b4747;
    height: 800px;
    width: auto;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #fff;
}
.productosMain p{
    margin-left: 10px;
}
.productosMain h3{
    margin-left: 10px;
    margin-top: 10px;
}

.producto1{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 150px 0 20px 100px;
    float: left;
    
}
.prologo1{
    background-color: #fff;
    background-image: url(./img/Canaletas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: left;
}
.producto2{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 150px 100px 20px 0;
    float: right;
}
.prologo2{
    background-color: #fff;
    background-image: url(./img/Chapas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: right;
}
.producto3{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 20px 0 20px 100px;
    float: left;
}
.prologo3{
    background-color: #fff;
    background-image: url(./img/cenefas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: left;
}
.producto4{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 20px 100px 20px 0;
    float: right;
}
.prologo4{
    background-color: #fff;
    background-image: url(./img/babetas.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: right;
}
.producto5{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 20px 0 20px 100px;
    float: left;
}
.prologo5{
    background-color: #fff;
    background-image: url(./img/perfiles.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: left;
}
.producto6{
    background-color: #242323;
    display: block;
    height: 120px;
    width: 600px;
    border: 2px solid #000;
    margin: 20px 100px 20px 0;
    float: right;
}
.prologo6{
    background-color: #fff;
    background-image: url(./img/extractor.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px 10px;
    float: right;
}
/* FIN PRODUCTOS */

/* INICIO SERVICIOS */
.serviciosMain{
    background-color: #4b4747;
    height: 800px;
    width: auto;
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: #fff;
}
.serviciosMain h3{
    margin-left: 10px;
    margin-top: 10px;
}
.serviciosMain p{
    margin-left: 10px;
}

.servicio1{
    background-color: #242323;
    display: block;
    height: 220px;
    width: 700px;
    border: 2px solid #000;
    margin: 150px 0 20px 100px;
    float: left;
    
}
.servlogo1{
    background-color: #fff;
    background-image: url(./img/instalacionzing.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    float: left;
}
.servicio2{
    background-color: #242323;
    display: block;
    height: 220px;
    width: 700px;
    border: 2px solid #000;
    margin: 150px 100px 20px 0;
    float: right;
}
.servlogo2{
    background-color: #fff;
    background-image: url(./img/limpiezatecho.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    float: right;
}
.servicio3{
    background-color: #242323;
    display: block;
    height: 220px;
    width: 700px;
    border: 2px solid #000;
    margin: 20px 0 20px 100px;
    float: left;
}
.servlogo3{
    background-color: #fff;
    background-image: url(./img/sellado.jpg);
    background-size: cover;
    background-position: right;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    float: left;
}
.servicio4{
    background-color: #242323;
    display: block;
    height: 220px;
    width: 700px;
    border: 2px solid #000;
    margin: 20px 100px 20px 0;
    float: right;
}
.servlogo4{
    background-color: #fff;
    background-image: url(./img/estructura.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    float: right;
}
/* FIN SERVICIOS */

/* INICIO CONTACTO */
.contactoMain{
    background-color: #4b4747;
    height: 800px;
    width: auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #fff;
}
.imagenContacto{
    background-color: #fff;
    background-image: url(./img/contactus.jpg);
    background-size: cover;
    border: 5px solid #000;
    height: 700px;
    width: 700px;
    margin-top: 50px;
    margin-left: 80px;
    float: left;
}
.contactoData{
    background-color: #272626;
    border: 3px solid #999494;
    height: 580px;
    width: 700px;
    margin-top: 80px;
    margin-right: 170px;
    padding: 30px;
    padding-left: 50px;
    float: right;
}
/* FIN CONTACTO */

/* INICIO NOSOTROS */
.nosotrosMain{
    background-color: #4b4747;
    height: 800px;
    width: auto;
    font-family: Saphira;
    font-size: 18px;
    color: #fff;
}
.nosotrosTexto{
    background-color: #272626;
    height: auto;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    padding: 20px;
    float: left;

}
.nosotrosVideo{
    border: 5px solid #000;
    height: 500px;
    width: 700px;
    margin-top: 50px;
    margin-left: 80px;
    float: left;
}
.nosotrosMap{
    background-color: #272626;
    border: 5px solid #000;
    height: 500px;
    width: 700px;
    margin-top: 50px;
    margin-right: 80px;
    float: right;
}
/* FIN NOSOTROS */

/* INICIO FOOTER */
footer{
    background-color: #333;
    background-image: url(./img/footer.jpg);
    background-size: cover;
    background-position: left;
    height: 200px;
    width: auto;
    border: 4px solid #000;
}
.logoFooter{
    background-color: #fff;
    background-image: url(./img/logo.jpg);
    background-size: cover;
    height: 160px;
    width: 135px;
    float: left;
    margin: 20px 0px 20px 30px;
    border: 3px solid #000;
}
.facebookIcon{
    background-color: #ffffff00;
    background-image: url(./img/facebookicon.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    float: right;
    margin-top: 10px;
    padding: 5px;
}
.instaIcon{
    background-image: url(./img/instaicon.png);
    height: 50px;
    width: 50px;
    background-size: cover;
    float: right;
    margin-top: 10px;
    padding: 5px;
}
.footerText{
    background-color: #ffffff00;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    text-shadow: 0 0 10px #fff;
    height: 160px;
    width: 500px;
    margin-left: 35%;
    margin-top: 60px;
}
/* FIN FOOTER */